{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "swift"],
          "plugins": ["line-numbers"],
          "theme": "twilight",
          "css": true
      }]
    ]
  }