.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 40px;
}

.footer h5 {
    color: #fff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer hr {
    border-color: #666;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer p {
    margin: 5px 0;
    color: white;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.paragraph {
    color: white;
}

.link {
    display: flex;
    text-decoration: none;
}

.link p {
    font-weight: 600;
}

.linkIcon {
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
}

.contact h5, .about h5 {
    font-size: 1.8rem;
}

.contact p {
    font-size: 1rem;
    font-weight: 600;
}
