.searchField {
    width: 15rem;
    justify-content: right;
}

.brand {
    color: var(--accent-color);
    font-weight: 600;
}

.brand:hover {
    color: var(--accent-color);
}

.navLink {
    font-weight: 600;
}

.navLink:hover {
    color: black;
}

.activeNavLink {
    border-bottom: 1px solid var(--accent-color);
    color: black;
}
