.searchField {
    width: 15rem;
    justify-content: right;
}

.brand {
    color: var(--accent-color);
    font-weight: 600;
}

.brand:hover {
    color: var(--accent-color);
}

.activeNavLink {
    border-bottom: 2px solid var(--accent-color);
}
