.blogPreview {
    height: 30rem;
    padding: 2rem;
    border-radius: 20px;
}

.thumbnail {
    width: auto;
    max-width: 100%;
    max-height: 40%;
    border-radius: 20px;
    padding: 10px;
    object-fit: contain;
}

.titleLink {
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
}

.tagLink {
    text-align: left;
    color: white;
    text-decoration: none;
}

.tagName {
    background: var(--accent-color);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}

.tagName:hover {
    background-color: white;
    color: var(--accent-color);
}

.createdAt {
    font-weight: 600;
}

.articleHeader {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f6f6f6; 
    padding: 20px; 
}

.articleTitle {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
}

.articleBlurb {
    font-size: 16px;
    color: #666;
}
