.blogPreview {
    height: 25rem;
    border-radius: 20px;
}

.blogPreview:hover {
    transition: 0.4s ease-in-out;
    width: 25rem;
}

.imageContainer {
    position: relative;
    display: inline-block;
    margin: 0.65rem;
}

.overlayIcon {
    display: inline;
    position: absolute;
    top: 75%; 
    left: 85%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 1.5rem; 
    pointer-events: none; 
    background: rgba(0,0,0, 0.2);
    padding: 0.7rem;
    border-radius: 120rem;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

.thumbnail {
    height: 150px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.titleLink {
    text-decoration: none;
    color: inherit;
    width: 100%; 
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
}

.description {
    font-size: 0.85rem;
}

.tagLink {
    text-align: left;
    color: white;
    text-decoration: none;
}

.tagName {
    background: var(--accent-color);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}

.tagName:hover {
    background-color: white;
    color: var(--accent-color);
}

.createdAt {
    font-weight: 500;
}

.articleHeader {
    text-align: center;
    margin-bottom: 2rem;
    background-color: #f6f6f6; 
    padding-block: 4rem; 
}

.articleTitle {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
}

.articleBlurb {
    font-size: 1rem;
    color: #666;
    padding-inline: 3rem;
}

.loadingPage {
    width: 100%;
    height: 80vh; 
    background-color: white; 
}

.errorPage {
    height: 100vh;
}